*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* navbar uno  */
header{
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar1{
  width: 100%;
  background: #33475b;
  border-top: solid 2px red,
}
.navbar1:after{
  content: "";
  display: table;
  clear: both;
}
.navbar1-left{
  float: left;
  width: 45%;
  margin-left: 5%;
}
.navuno{
  float: left;
  padding: 1% 3%;
}
li{
  cursor: pointer;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.colorwhite{
  color: white;
  opacity: 0.5;
}
.colorwhite:hover{
  opacity: 1.5;
}
#colorred{
  color: red;
}
.navbar1-right{
  width: 45%;
  margin-right: 5%;
  float: right;
}
.nav-uno{
  float: right;
  padding: 1% 4%;
}
.sett{
  border-right: solid red 1px;
}
.profile{
  color: red;
  opacity: 0.4;
}
.colorblack{
  color: rgb(0, 0, 0);
}
/* navbar due */
.navbar2{
  width: 100%;
  background: #F5F8Fa;
}
.navbar2::after{
  content: "";
  display: table;
  clear: both;
}
.nav2left{
  width: 40%;
  margin-left: 10%;
  float: left;
}
.nav2{
  float: left;
  color: #0091ae;
  margin: 30px 8px;
}
.eng{
  border-right: 2px solid #cbd6e2;
  padding-right: 8%;
}
.nav2right{
  width: 40%;
  margin-right: 10%;
  float: right;
}
.nav-2{
  float: right;
  color: #0091ae;
  margin: 30px 8px;
}
.button{
  border: 1px solid black;
  background: rgb(255, 122, 89);
  padding: 2px 15px;
}

/* navbar tre */
.navbar3{
  width: 100%;
  background: white;
}
.navbar3::after{
  content: "";
  display: table;
  clear: both;
}
.logo{
  float: left;
  margin-left: 10%;
  margin-top: 8px;
  width: 40%;
}
.navtre{
  float: right;
  margin-right: 10%;
  width: 40%;
}
.nav-3{
  float: right;
  margin: 20px 8px;
  color: rgb(51, 71, 91);
}
/* blocco img */
.sfondo{
  background: url("../img/sfondo.PNG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 550px;
  margin-top: 180px;
}
.slogan{
  margin-left: 10%;
  width: 30%;
  padding-top: 5%;
}
h1{
  font-size: 50px;
  color:  #33475b;
  padding-bottom: 5%;
}
#sottotit{
  color: #687481;
  font-size: 18px;
  margin-bottom: 10%;
}
.buttom-due{
  border-radius: 2%;
  background: rgb(255, 122, 89);
  color: rgba(255, 255, 255, 0.5);
  padding: 5%;
}
/* blocco grande */
/*parte img cubo  */
.container{
  width: 100%;
  background-color: #F5F8Fa;
  background-image: url("../img/cubo.png");
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-position: 50% 12%;
}
.container::after{
  content: "";
  display: table;
  clear: both;
}
.textcubo{
  text-align: center;
  padding-top: 300px;
  width: 50%;
  margin: auto;

}
.title{
  font-size: 40px;
  color: #33475b;
  margin-bottom: 20px;
  margin-top: 70px;
}
.parcubo{
  font-size: 17px;
  color: #596a7a;
  margin-bottom: 50px;
}
/* contenitore 2 colonne  */
.contenitore{
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 1%;
}
.contenitore::after{
  content: "";
  display: table;
  clear: both;
}
.contleft{
  float: left;
  width: 40%;
}
.libro{
  width: 220px;
  height: 150px;
  margin-left: 20%;
  margin-top: 10%;
}
.learn{
  font-size: 18px;
  padding: 9px 16px;
  border-radius: 2%;
  background: rgb(255, 122, 89);
  color: rgb(255, 255, 255);
}
.orangebot{
  text-align: center;
  margin: 10% 0;
}
.contright{
  float: left;
  width: 50%;
  text-align: left;
}
.titoli{
  font-size: 22px;
  color: #33475b;
  margin-top: 50px;
}
.parcont{
  margin-top: 20px;
  color: #72808d;
  font-size: 17px;
}
h5{
  margin-top: 40px;
  font-size: 14px;
  color: #33475b;
}
.lista{
  display: inline-block;
  margin: 15px 0 0 0;
  color: #72808d;
}
.segno{
  color: rgb(255, 122, 89);
}
/* blocco tre colonne  */
.trecolonne{
  width: 60%;
  margin: auto;
  height: 300px;
  margin-top: 4%;
}
.trecolonne::after{
  content: "";
  display: table;
  clear: both;
}
.primacol{
  width: 30%;
  background: white;
  float: left;
  border-radius: 1%;
  padding: 3% 3%;
  margin-bottom: 10%;
}
.imgcolonne{
  width: 220px;
  height: 150px;
}
.titolidue{
  text-align: center;
  color: #33475b;
  font-size: 22px;
  margin-top: 5%;
}
hr{
  border-top: 2px solid rgba(0, 0, 0, .1);
  margin-top: 20px;
}
.popular{
  text-align: center;
}

.secondacol{
  width: 30%;
  margin-bottom: 10%;
  background: white;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 1%;
  padding: 3% 3%;
}
.terzacol{
  width: 30%;
  margin-bottom: 10%;
  background: white;
  float: left;
  border-radius: 1%;
  padding: 3% 3%;
}
/* blocco tabella */
.tabella{
  width: 100%;
  /* height: 500px; */
  background: linear-gradient(45deg, #00a4bd, #00bda5);
}
.tabella::after{
  content: "";
  display: table;
  clear: both;
}
.tit-tab{
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 130px;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h3{
  font-size: 33px;
  margin-bottom: 20px;
}
/* inizio tab */
.tab{
  width: 70%;
  margin: auto;
}
.tabsup{
  text-align: center;
  width: 25%;
  padding: 5%;
  color: white;
  margin-top: 6%;
  border-bottom: solid 2px;
  float: left;
}
.numeri{
  font-size: 34px;
  margin-top: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bordodx{
  border-right: solid 2px;
}
.tabinf{
  text-align: center;
  width: 25%;
  padding: 5%;
  color: white;
  float: left;
  margin-bottom: 10%;
}
/* blocco shopify */
.customers{
  padding-top: 120px;
  width: 60%;
  margin: auto;
}
.customers::after{
  content: "";
  display: table;
  clear: both;
}
.clienti{
  width: 30%;
  float: left;
}
.persone{
  font-size: 34px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #33475b;
}
.customersdx{
  width: 60%;
  margin-left: 10%;
  float: left;
  margin-bottom: 100px;
}

.sponsor{
  width: 130px;
  height: 59px;
  padding: 3%;
}
/* blocco profile */
.customersinf{
  padding-top: 150px;
  width: 70%;
  margin: auto;
  background-image: url("../img/images.webp");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 100% 100%;
}
.start{
  width: 40%;

}
.homepage{
  padding-top: 50px;
  margin-bottom: 180px;
}
/* blocco footer */
